

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= place.name %></h1>
    <h1><%= place.address %></h1><br /><br />
    <h1><%= place.description %></h1><br />
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>
<% end %>

<%= will_paginate @places %>

